[p2p]
node_port = 30609
topic_name = trustflow.network
protocol_id = /trustflow-network/1.0.0
search_results = 10

[sqlite]
database_file = ./trustflow.db

[log]
logfile = logs/log

[keystore]
keystore_passphrase = KEYSTORE_PASSPHRASE

[store]
local_storage = ./local_storage/
received_files_storage = ./local_storage/received/

[repo]

[node]

[misc]
chunk_size = 2048
pid_path = ./trustflow.pid
phrase_min_len = 3

[cron]
process_job_queue = */10 * * * * *
request_job_status_update = */1 * * * * *