.common-cockpit-list-workflows {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    --p-inputtext-background: rgba(240, 240, 240, 1);
    --p-inputtext-color: rgb(27, 38, 54);
    --p-inputtext-border-color: rgba(205, 81, 36, .5);
    --p-inputtext-focus-border-color: rgba(205, 81, 36, .5);
    --p-inputgroup-addon-border-color: rgba(205, 81, 36, .5);
    --p-inputgroup-addon-background: rgba(205, 81, 36, 1);
    --p-inputgroup-addon-color: rgba(240, 240, 240, 1);
    --p-button-text-secondary-color: rgba(240, 240, 240, 1);
    --p-button-text-secondary-hover-background: rgb(246, 114, 66);

    --tf-in-design-icon-background-color: #4060c3;
    --tf-running-icon-background-color: rgba(205, 81, 36, 1);
    --tf-completed-icon-background-color: rgba(86, 164, 82, 1);
    --tf-errored-icon-background-color: rgba(155, 45, 44, 1);
    --tf-in-design-icon-color: #fff;
    --tf-running-icon-color: #fff;
    --tf-completed-icon-color: #fff;
    --tf-errored-icon-color: #fff;

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;

    padding: 1rem;

    .list-workflows-controls {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        width: 100%;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid rgb(49, 64, 92);

        .list-workflows-controls-search {

        }

        .list-workflows-controls-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-content: center;
            align-items: center;

            .input-box {
                .btn {
                    min-width: 60px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 3px;
                    border: none;
                    margin: 0 5px 0 0 ;
                    padding: 0 8px;
                    cursor: pointer;
                    background-color: rgb(205, 81, 36);
                    color: #fff;
                    font-size: .9rem;

                    i {
                        vertical-align: text-bottom;
                    }

                    &.light {
                        background-color: #fff;
                        color: rgb(27, 38, 54);

                        &:hover {
                            background-color: #fff;
                            color: rgb(205, 81, 36);
                        }
                    }

                    &.data {
                        background-color: rgb(205, 81, 36);
                        color: #fff;
                    }

                    &.function {
                        background-color: #5D9CEC;
                        color: #fff;
                    }

                    &.disabled {
                        background-color: #333333;
                        cursor: not-allowed;
                    }

                    &:hover {
                        background-color: rgb(246, 114, 66);

                        &.disabled {
                            background-color: #333333;
                            cursor: not-allowed;
                        }

                        &.data {
                            background-color: rgb(246, 114, 66);
                        }

                        &.function {
                            background-color: #3d71b6;
                            color: #fff;
                        }
                    }
                }

                .input {
                    color: #000;
                    border: none;
                    border-radius: 3px;
                    outline: none;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;
                    background-color: rgba(240, 240, 240, 1);
                    -webkit-font-smoothing: antialiased;

                    &:hover {
                        border: none;
                        background-color: rgba(255, 255, 255, 1);
                    }

                    &:focus {
                        border: none;
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }

    .list-workflows-filters {
        padding: 1rem 0;

        .list-workflows-filters-title {
            text-align: left;
            font-size: 1.5rem;
            padding-top: .5rem;

            i {
                vertical-align: center;
            }

        }
        .list-workflows-filters-list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;

            width: 100%;
            max-width: 100%;
            overflow-x: auto;

            .list-workflows-filters-box {
                width: 10rem;
                min-width: 10rem;
                height: 5rem;
                background-color: rgb(38, 49, 65);
                border-radius: 4px;
                cursor: pointer;

                margin: 1rem;
                padding: .5rem;

                &:first-child {
                    margin-left: 0;
                }

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                .list-workflows-filters-box-content {
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;

                    .list-workflows-filters-box-content-icon {
                        padding: 0 .25rem;
                    }

                    .list-workflows-filters-box-content-details {
                        padding-left: 1rem;
                        font-size: .85rem;
                    }
                }
            }
        }
    }

    .list-workflows {
        padding: 0;

        .list-workflows-title {
            text-align: left;
            font-size: 1.5rem;

            i {
                vertical-align: center;
            }
        }
    }


    @media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
    }
}

.common-cockpit-list-workflows-default {
	@extend .common-cockpit-list-workflows !optional;
}
