.common-cockpit-workflow-editor {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    --p-inputtext-background: rgba(240, 240, 240, 1);
    --p-inputtext-color: rgb(27, 38, 54);
    --p-inputtext-border-color: rgba(205, 81, 36, .5);
    --p-inputgroup-addon-border-color: rgba(205, 81, 36, .5);
    --p-inputgroup-addon-background: rgba(205, 81, 36, 1);
    --p-inputgroup-addon-color: rgba(240, 240, 240, 1);
    --p-button-text-secondary-color: rgba(240, 240, 240, 1);
    --p-button-text-secondary-hover-background: rgb(246, 114, 66);

    position: relative;
    width: 100%;
    height: 100vh;

    $grid-size: 100px;
    $dash-length: 5px;
    $dash-width: 1px;
    $dash-color: rgba(205, 81, 36, .5);
    $background: rgb(27, 38, 54);
    $tools-background: rgb(38, 49, 65);
    $tools-shadow-color: rgba(0, 0, 0, 0.35);
    $tools-header-color: rgba(205, 81, 36, 1);

    background-color: $background;
    background-size: $dash-length*2 $dash-length*2, $grid-size $grid-size;
    background-image:
        linear-gradient(to bottom, transparent $dash-length, $background $dash-length),
        linear-gradient(to right, $dash-color $dash-width, transparent $dash-width),
        linear-gradient(to right, transparent $dash-length, $background $dash-length),
        linear-gradient(to bottom, $dash-color $dash-width, transparent $dash-width);

    .search-services {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);

        box-sizing: border-box;
        min-width: 200px;
        border: 1px dotted $dash-color;
        background-color: $background;

        box-shadow: $tools-shadow-color 0px 5px 15px;

        .search-services-header {
            position: relative;
            text-align: left;
            min-height: 1rem;
            background-color: $tools-header-color;
            padding: .5rem;

            display: flex;
            flex-direction: rows;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            .search-services-header-window-controls {
                cursor: pointer;
            }
        }

        .search-services-body {
            position: relative;
            text-align: left;
            background-color: $tools-background;
            padding: 1rem .5rem;

            .separator {
                display: flex;
                align-items: center;
                text-align: center;
                font-size: .75rem;
                margin: 1rem 0;

                &::before,
                &::after {
                    content: '';
                    flex: 1;
                    border-bottom: 1px solid rgba(205, 81, 36, 1);
                }

                &:not(:empty)::before {
                    margin-right: .25em;
                }

                &:not(:empty)::after {
                    margin-left: .25em;
                }
            }
        }
    }

    @media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
    }
}

.common-cockpit-workflow-editor-default {
	@extend .common-cockpit-workflow-editor !optional;
            $grid-size: 100px;
            $dash-length: 5px;
            $dash-width: 1px;
            $dash-color: rgb(205, 81, 36);
            $background: rgba(27, 38, 54, .5);
}
