.common-cockpit {
    --p-menu-background: rgb(38, 49, 65);
    --p-menu-item-focus-color: rgba(240, 240, 240, 1);
    --p-menu-item-focus-background: rgba(205, 81, 36, 1);
    --p-menu-item-icon-color: rgba(240, 240, 240, 1);
    --p-menu-item-icon-focus-color: rgba(240, 240, 240, 1);
    --p-menu-item-color: rgba(240, 240, 240, 1);
    --p-content-color: rgba(240, 240, 240, 1);
    --p-panelmenu-submenu-icon-color: rgba(240, 240, 240, 1);
    --p-panelmenu-submenu-icon-focus-color: rgba(240, 240, 240, 1);

    display: flex;
    flex-direction: rows;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100vh;

    .menu-container {
        width: 250px;
        overflow: auto;
        height: 100vh;

        background-color: rgb(38, 49, 65);
        color: white;
    }

    .resizer {
        position: relative;
        width: 8px;
        height: 100vh;
        background-color: rgb(77, 89, 109);
        cursor: col-resize;

        // Handle style
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            width: 4px;
            height: 40px;
            
            background-image: repeating-linear-gradient(
            to bottom,
            #fff,
            #fff 2px,
            transparent 2px,
            transparent 4px
            );

            border-radius: 2px;
        }

        &:hover {
            background-color:  rgb(107, 123, 151);
        }
    }

    .main-container {    
        flex: 1;

        overflow: auto;
        height: 100vh;
    }

    @media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
    }
}

.common-cockpit-default {
	@extend .common-cockpit !optional;
}
