.common-landing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    width: 100%;

    .columns-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        .sections {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;

            margin: 1rem;

            .section {
                outline: none;
                max-width: 100%;
                width: 100%;
                margin: 1rem;

                .trustflow-node-text {
                    margin: 1rem auto;
                    font-size: 2rem;
                    color: rgb(246, 114, 66);
                }

                .trustflow-node-text-helper {
                    margin: 1rem auto;
                    font-size: 1rem;
                    color: #a4a3a3;
                }

                #logo {
                    display: block;
                    width: 150px;
                    height: auto;
                    margin: auto;
                    padding: 2rem 0 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-origin: content-box;
                }

                .start-node-text {
                    margin: 1rem auto;
                    font-size: 1rem;
                }

                .start-node-text-helper {
                    margin: 1rem auto;
                    font-size: .8rem;
                    color: #777;
                }

                .input-box {
                    &.gap-top-2 {
                        margin-top: 2rem !important;
                    }

                    .btn {
                        min-width: 60px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 3px;
                        border: none;
                        margin: 0 0 0 10px;
                        padding: 0 8px;
                        cursor: pointer;
                        background-color: rgb(205, 81, 36);
                        color: #fff;
                        font-size: .9rem;

                        &.disabled {
                            background-color: #333333;
                            cursor: not-allowed;
                        }

                        &:hover {
                            background-color: rgb(246, 114, 66);

                            &.disabled {
                                background-color: #333333;
                                cursor: not-allowed;
                            }
                        }
                    }

                    .input {
                        color: #000;
                        border: none;
                        border-radius: 3px;
                        outline: none;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        background-color: rgba(240, 240, 240, 1);
                        -webkit-font-smoothing: antialiased;

                        &:hover {
                            border: none;
                            background-color: rgba(255, 255, 255, 1);
                        }

                        &:focus {
                            border: none;
                            background-color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }

    .app-logs-frame {
        width: calc(100% - 3rem);
        margin: 1rem;
        padding: 0;

        display: flex;
        flex-direction: column;

        .app-logs-frame-header {
            text-align: left;
            border: 2px solid #2f2f2f;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: #2f2f2f;
            padding: .5rem;
            font-size: .8rem;
        }

        .app-logs {
            &::-webkit-scrollbar { 
                display: none;
            }

            border: 2px solid #2f2f2f;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            padding: .5rem;
            text-align: left;
            font: .8rem monospace;
            color: #ddd;
            background-color: #222;

            max-height: 16rem;
            height: 16rem;

            -ms-overflow-style: none;
            scrollbar-width: none;

            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            .app-log {
                line-height: 1.2rem;
            }
        }
    }

    @media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
        .columns-container {
            .sections {
                flex-direction: column;
            }
        }
    }
}

.common-landing-default {
	@extend .common-landing !optional;
}
