.common-cockpit-workflow-editor-workflow-tools {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    --p-inputtext-background: rgba(240, 240, 240, 1);
    --p-inputtext-color: rgb(27, 38, 54);
    --p-inputtext-border-color: rgba(205, 81, 36, .5);
    --p-inputgroup-addon-border-color: rgba(205, 81, 36, .5);
    --p-inputgroup-addon-background: rgba(205, 81, 36, 1);
    --p-inputgroup-addon-color: rgba(240, 240, 240, 1);
    --p-button-text-secondary-color: rgba(240, 240, 240, 1);
    --p-button-text-secondary-hover-background: rgb(246, 114, 66);
    --p-floatlabel-on-active-background: #fff;
    --p-inputtext-focus-border-color: rgb(27, 38, 54);
    --p-floatlabel-focus-color: rgb(27, 38, 54);
    --p-textarea-background: #fff;
    --p-textarea-color: rgb(27, 38, 54);
    --p-textarea-focus-border-color: rgba(205, 81, 36, .5);

    --height: 100vh;

    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 2;
    height: var(--height);

    $border-color: rgba(205, 81, 36, .5);
    $background: rgb(27, 38, 54);
    $tools-background: rgb(38, 49, 65);
    $tools-shadow-color: rgba(0, 0, 0, 0.35);
    $tools-header-color: rgba(205, 81, 36, 1);

    background-color: transparent;

    input,
    textarea {
        width: 100%;
    }

    .workflow-tools-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: var(--height);

        .search-services {
            flex: 1;

            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100% - 322px);

            .search-services-body {
                flex: 1;

                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .service-offers {
                    flex: 1;
                }
            }
        }

    .workflow-details,
    .search-services {
        position: relative;
        margin: 0;
        padding: 0;

        box-sizing: border-box;
        border: 1px dotted $border-color;
        background-color: $background;

        .workflow-details-header,
        .search-services-header {
            position: relative;
            text-align: left;
            height: 40px;
            line-height: 40px;
            background-color: $tools-header-color;
            padding: 10px;

            display: flex;
            flex-direction: rows;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            .workflow-details-header-window-controls,
            .search-services-header-window-controls {
                cursor: pointer;
                margin-left: 8px;
            }
        }

        .workflow-details-body,
        .search-services-body {
            position: relative;
            text-align: left;
            background-color: $tools-background;
            padding: 10px 5px;

            .workflow-details-body-section,
            .search-services-body-section {
                margin: .5rem 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.buttons {
                    display: flex;
                    flex-direction: rows;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-content: center;
                    align-items: center;
                }

                .input-box {
                    .btn {
                        min-width: 60px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 3px;
                        border: none;
                        margin: 0 5px 0 0 ;
                        padding: 0 8px;
                        cursor: pointer;
                        background-color: rgb(205, 81, 36);
                        color: #fff;
                        font-size: .9rem;

                        &.light {
                            background-color: #fff;
                            color: rgb(27, 38, 54);

                            &:hover {
                                background-color: #fff;
                                color: rgb(205, 81, 36);
                            }
                        }

                        &.data {
                            background-color: rgb(205, 81, 36);
                            color: #fff;
                        }

                        &.function {
                            background-color: #5D9CEC;
                            color: #fff;
                        }

                        &.disabled {
                            background-color: #333333;
                            cursor: not-allowed;
                        }

                        &:hover {
                            background-color: rgb(246, 114, 66);

                            &.disabled {
                                background-color: #333333;
                                cursor: not-allowed;
                            }

                            &.data {
                                background-color: rgb(246, 114, 66);
                            }

                            &.function {
                                background-color: #3d71b6;
                                color: #fff;
                            }
                        }
                    }

                    .input {
                        color: #000;
                        border: none;
                        border-radius: 3px;
                        outline: none;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        background-color: rgba(240, 240, 240, 1);
                        -webkit-font-smoothing: antialiased;

                        &:hover {
                            border: none;
                            background-color: rgba(255, 255, 255, 1);
                        }

                        &:focus {
                            border: none;
                            background-color: rgba(255, 255, 255, 1);
                        }
                    }
                }
    
            }

            .separator {
                display: flex;
                align-items: center;
                text-align: center;
                font-size: 10px;
                margin: 16px 0;

                &::before,
                &::after {
                    content: '';
                    flex: 1;
                    border-bottom: 1px solid rgba(205, 81, 36, 1);
                }

                &:not(:empty)::before {
                    margin-right: .25em;
                }

                &:not(:empty)::after {
                    margin-left: .25em;
                }
            }

            .service-offers {
                overflow: auto;
            }
        }
    }
    }

    @media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
    }
}

.common-cockpit-workflow-editor-workflow-tools-default {
	@extend .common-cockpit-workflow-editor-workflow-tools !optional;
}
